services:

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - db

  db:
    image: postgres:alpine
    environment:
      - POSTGRES_DB=calendar_db
      - POSTGRES_USER=calendar_user
      - POSTGRES_PASSWORD=calendar_pass
    ports:
      - "5432:5432"
    restart: always